<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/pooja/RestAssuredProject_OP">
        <packages>
            <package name="APITests.libraryAPI"/>
            <package name="APITests.reqresAPI"/>
            <package name="APITests.coursesAPI"/>
            <package name="APITests.placeAPI"/>
        </packages>
    </test>
</suite>